.base_button {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: .25rem;
    color: #444;
    font-family: sans-serif;
    padding: .5rem;
    min-width: 125px;
    transition: background-color .1s;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }
}