
<div style="border-radius: .25rem; background: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 200px; padding: 10px; gap: 1rem; text-align: center;">
<button class="base_button" (click)="baseCounter = baseCounter + 1">
    Прибавить!
</button>
<button class="base_button" (click)="baseCounter = baseCounter - 1">
    Убавить!
</button>
    {{'Это строка в которой есть число ' + baseCounter}}
</div>
<hr>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="border-radius: .25rem; background: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 200px; padding: 10px;">
        {{ trueOrFalse ? "Правда!" : "Ложь."}}
    </div>
<div style="border-radius: .25rem; background: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 200px; padding: 10px;">
    <button class="base_button" (click)="trueOrFalse = !trueOrFalse">
    А может не {{ trueOrFalse ? "правда?" : "ложь?"}}
    </button>
</div>
</div>
  